*{
border: 0;
padding: 0;
box-sizing: border-box;}






/* dimensione */
.contenitore {
    width: 1100px;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    
}
.contenitore-piccolo{
    width: 900px;
    margin: 0 auto;
    padding: 50px 0;
    text-align: center;
}



/* colori */
header{
    background-color:#add8e6 ;
}

.bg-blu{
    background-color: #00008b;
}

.bg-arancione{
    background-color: #daa520;
}

.bg-arancione{
    background-color: #daa520;
}
.bg-viola{
    background-color: #ee82ee;
}

.bg-azzurro{
    background-color: #1e90ff;
}

.bg-rosa{
    background-color: #ffc0cb;
}

.bg-griggio{
    background-color: #d3d3d3;
}

/*bordo*/

.bordo{
    border: solid black;
}
/*flex*/

    .flex{

    display: flex;

       }

     .flex-reverse  {
        flex-direction: row-reverse;
     }
/* largezza*/

.wh25{
    width: 25%;

}

.wh40{
    width: 40%;
}
.wh50{
    width: 50%;

}

.wh60{
    width: 65%;
}


/* da rimuovere */

.altezza-prov{
    height:490px;
}